.header-title { 
    margin-top: 70px;
    background: #a172f7; color: #fff; padding: 20px; text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.63);

}
main { 
    padding: 20px;border-radius: 0px; 
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}
.GAMBAR {
    display: flex;
    align-items: center; 
    justify-content: center;
    max-width: 100%;
    height: 0 auto;
}

.logo:hover {
    transition: all 200ms;
    scale: 1.3;
    transform: translateX();
}
.logo:not(:hover) {
   filter: grayscale(1);
}

.story {
    text-align: justify; text-indent: 20px; margin-top: 10px; margin-bottom: 20px;
    margin-right: 20px;
}
 /* Warna dasar */
:root {
--bg: #ebebeb;
--text: #000000;
    --x: 0;
    --y: 0;
    --xp: 0;
    --yp: 0;
        --hue: calc(0 + (var(--xp) * 500));
        --size: 100px;
        --glow: radial-gradient(
            50% 50% at center,
            hsl(var(--hue) 80% 85%),
            hsl(var(--hue) 80% 70%),
            transparent
        )
        calc((var(--x) * 1px) - (var(--size) * 0.5))
        calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;

}

.button {
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--bg);
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    cursor: pointer;
    background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--glow),
    linear-gradient(rgb(0, 0, 0), black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    position: relative;
    padding: 1rem 2rem;
}
.button::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    background: var(--bg);
    z-index: 2;
    border-radius: 1rem;
}
.button span {
    background: var(--glow), rgb(179, 65, 202);
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
}
:root:has(.button:active) {
    --size: 300px;
}
.button::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blur(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
}
/* Dark mode */
html[data-theme="dark"] {
--bg: #0b1220;
--text: #e5e7eb;
}

.body1 {
    margin: 40px; font-family: system-ui, sans-serif; background: var(--bg); color: var(--text); transition: background 0.3s, color 0.3s;
}

header{ 
    padding: 16px;
}

/* Tombol toggle */
#toggle {
    position: fixed; top: 40px; right: 20px; padding: 8px 14px;
    border: 1px solid var(--text); border-radius: 10px; background: rgb(90, 69, 69); color: var(--text);
    cursor: pointer; font-weight: 600;
}
footer {
    text-align: center; padding: 10px; font-size: 20px; color: var(--text); 
}
.chat {
    list-style-type: none;
    padding: 10px;
}
nav {
    list-style-type: none;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: rgb(153, 0, 255);
    height: 30px;
}
nav a, nav span {
    color: inherit;
    text-decoration: none;
}
.nav-border {
    border: 2px solid var(--text);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    word-spacing: 40px;
    position: fixed;
    top: 40px;
}
.nav-header {
    word-spacing: 70px;
}

.button:hover {
    color: rgb(71, 17, 107);
    transition: all 200ms;
    scale: 1.2;
    transform: translateX();
}

.pilih-story {
    color: var(--text);
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    transition: all 200ms;
}
.pilih-story:hover{
    color: rgb(153, 0, 255);
    scale: 1.2;
    transform: translateX(4rem);
}

.pilih-story a, .pilih-story span {
    color: inherit;
    text-decoration: none;
}
.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom:10px;
    box-sizing: border-box;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(8),
.item:nth-child(9) {
      border: 2px solid var(--text);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text);
      font-size: 1.2rem;
      min-height: 200px;
}